# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variables files
*.tfvars
*.tfvars.json

# Override files (used for local development)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan output files
*.tfplan

# Module and provider lock files
.terraform.lock.hcl
terraform.tfstate.lock.hcl

# Sensitive files
.env


# keys
*.pem